@charset "UTF-8";
/* utils */
/* Colors */
/* Fonts */
/* Screen width */
/* Container width */
/* base */
.link {
  color: inherit;
  text-decoration: none;
}

.divider {
  border: 0;
  border-top: 1px solid #edeff1;
  margin: 0;
}

.hidden {
  display: none;
}

.container, .archive-product .woocommerce-products-header__breadcrumb-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-1200 {
  max-width: 1150px;
}

.lister__results .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.lister__results .products::before {
  display: none !important;
}
@media only screen and (min-width: 600px) {
  .lister__results .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .lister__results .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1100px) {
  .lister__results .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #fff;
  color: #343a40;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

button {
  display: block;
  border: none;
  font-family: inherit;
  background: none;
}

svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Lilita One";
  src: url("../../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: "Open sans";
  src: url("../../fonts/OpenSans-VariableFont.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: url("../../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
  margin: 1em 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.h5 {
  font-size: 18px;
}

h1, h2, h3, h4, .h2 {
  font-family: "Lilita One", Arial, sans-serif;
  font-weight: bold;
}

a:link {
  cursor: pointer;
}
a:focus {
  text-decoration: none;
}

/* layout */
.header {
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #ececec;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-main__logo {
  display: flex;
  width: 150px;
  height: 55px;
  margin: 10px 25px 10px 0;
}
.header .header-main__nav-list {
  display: flex;
}
.header .header-main__nav-list-item:not(:last-child) {
  margin-right: 20px;
}
.header .header-main__link {
  display: flex;
  align-items: center;
}
.header .header-main__link .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.header .header-main__label {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header .header-main__label {
    display: inline-block;
  }
}
.header .header-sub {
  height: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.header .header-sub::-webkit-scrollbar {
  display: none;
}
.header .header-sub .category-list {
  display: flex;
}
.header .header-sub .category-list-item {
  margin-right: 10px;
  padding: 5px 10px;
}
.header .header-sub .category-list-item:first-child {
  padding-left: 0;
}

/* pages */
.my-account {
  margin: 25px auto 0;
  max-width: 1140px;
  padding: 0 15px;
  border: 1px solid red;
}
.my-account .woocommerce-MyAccount-navigation {
  width: 25%;
}
.my-account .woocommerce-MyAccount-navigation .is-active a {
  color: #e71765;
}
.my-account .woocommerce-MyAccount-navigation-link a {
  color: #7a7a7a;
  font-size: 18px;
  text-decoration: none;
}
.my-account .woocommerce-MyAccount-navigation-link a:hover {
  color: #e71765;
}
.my-account .woocommerce-MyAccount-content {
  width: 75%;
}

.archive-product .woocommerce-products-header {
  background-color: #ff0a54;
  margin-bottom: 50px;
}
.archive-product .woocommerce-products-header__breadcrumb-container .woocommerce-breadcrumb {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
}
.archive-product .woocommerce-products-header__breadcrumb-container .woocommerce-breadcrumb a {
  color: aliceblue;
  text-decoration: none;
}
.archive-product .woocommerce-products-header__breadcrumb-container .woocommerce-breadcrumb a:hover {
  text-decoration: underline;
}
.archive-product .woocommerce-products-header__title {
  text-align: center;
  color: #fff;
  padding: 20px 15px 50px;
}
.archive-product .lister {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .archive-product .lister {
    flex-direction: row;
  }
}
.archive-product .lister__sidebar .product-filter {
  border: 1px solid #ced4da;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .archive-product .lister__sidebar .product-filter {
    width: 250px;
    margin-right: 25px;
    border: none;
  }
}
.archive-product .lister__sidebar .product-filter__label {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .archive-product .lister__sidebar .product-filter__label {
    display: none;
  }
}
.archive-product .lister__sidebar .product-filter .content {
  position: relative;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
@media only screen and (min-width: 1024px) {
  .archive-product .lister__sidebar .product-filter .content {
    max-height: fit-content;
  }
}
.archive-product .lister__sidebar .product-filter .content.open {
  position: relative;
  max-height: fit-content;
}
.archive-product .lister__sort-count-wrapper {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
  .archive-product .lister__sort-count-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}
.archive-product .lister__sort-count-wrapper .woocommerce-notices-wrapper {
  width: 100%;
}
.archive-product .lister__sort-count-wrapper .woocommerce-result-count,
.archive-product .lister__sort-count-wrapper .woocommerce-ordering {
  margin: 0 0 13px;
}
.archive-product .lister__sort-count-wrapper .orderby {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #343a40;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}
@media only screen and (min-width: 480px) {
  .archive-product .lister__sort-count-wrapper .orderby {
    width: 250px;
  }
}

#home .section-title {
  color: #ff0a54;
}
#home .products {
  display: flex;
  flex-wrap: wrap;
}

.single-product .product-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.single-product .product-information > .onsale {
  display: none;
}
.single-product .product-information .badge-onsale {
  position: absolute;
  top: 0;
}
.single-product .product-information .woocommerce-product-gallery {
  width: 150px;
}
.single-product .product-information .summary {
  background-color: #fff;
  box-shadow: 0px 20px 75px 0px rgba(54, 32, 87, 0.21);
  border-radius: 20px;
  padding: 50px 50px 30px;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}
.single-product .product-information .summary .price {
  margin-top: auto;
  color: #343a40 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.single-product .product-information .summary .price del .woocommerce-Price-amount {
  font-size: 12px !important;
}
.single-product .product-information .summary .price ins {
  text-decoration: none;
}
.single-product .product-information .summary .quantity .input-text {
  height: 35px;
}
.single-product .product-information .summary .single_add_to_cart_button {
  background-color: #FFDC7C;
}
.single-product .product-information .summary .usp-list {
  margin-bottom: 20px;
}
.single-product .product-information .summary .usp-list-item {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.single-product .product-information .summary .usp-list-item .icon__svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #ff477e;
}
.single-product .product-information .summary .product_meta {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: italic;
  color: #adb5bd;
  margin-top: 10px;
}
.single-product .additional-information {
  border-radius: 20px 20px 0 0;
  margin-top: 50px;
}
.single-product .additional-information .product-info-banner {
  color: #fff;
  background-color: #fae0e4;
  text-align: center;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.05);
  padding: 20px 15px;
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.6);
}
.single-product .additional-information .related {
  border-top: 1px solid #ced4da;
  margin-top: 100px;
  padding-top: 30px;
}
.single-product .additional-information .related h2:first-child {
  text-align: center;
}

/* template-parts */
.badge__onsale, #home .product .onsale,
#archive-product .product .onsale,
.upsells .product .onsale,
.related .product .onsale {
  background-color: #ff0a54 !important;
  right: unset !important;
  left: 0 !important;
  top: 0 !important;
  border-radius: 12px 0 12px 0 !important;
  margin: 0 !important;
  min-height: unset !important;
  line-height: unset !important;
  padding: 8px 10px !important;
  font-weight: bold !important;
  color: #fff !important;
  position: absolute;
  font-size: 0.857em;
}

#home .product,
#archive-product .product,
.upsells .product,
.related .product {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(54, 32, 87, 0.14);
  max-width: 225px;
  align-items: stretch;
  width: 100% !important;
  margin: 0 !important;
}
#home .product:hover,
#archive-product .product:hover,
.upsells .product:hover,
.related .product:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#home .product .woocommerce-loop-product__link,
#archive-product .product .woocommerce-loop-product__link,
.upsells .product .woocommerce-loop-product__link,
.related .product .woocommerce-loop-product__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 10px 5px;
}
#home .product .woocommerce-loop-product__link img,
#archive-product .product .woocommerce-loop-product__link img,
.upsells .product .woocommerce-loop-product__link img,
.related .product .woocommerce-loop-product__link img {
  margin: 0 !important;
}
#home .product .woocommerce-loop-product__title,
#archive-product .product .woocommerce-loop-product__title,
.upsells .product .woocommerce-loop-product__title,
.related .product .woocommerce-loop-product__title {
  color: #343a40;
}
#home .product .star-rating,
#archive-product .product .star-rating,
.upsells .product .star-rating,
.related .product .star-rating {
  color: #ff477e;
}
#home .product .price,
#archive-product .product .price,
.upsells .product .price,
.related .product .price {
  margin-top: auto;
  color: #343a40 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
#home .product .price del .woocommerce-Price-amount,
#archive-product .product .price del .woocommerce-Price-amount,
.upsells .product .price del .woocommerce-Price-amount,
.related .product .price del .woocommerce-Price-amount {
  font-size: 12px !important;
}
#home .product .price ins,
#archive-product .product .price ins,
.upsells .product .price ins,
.related .product .price ins {
  text-decoration: none;
}
#home .product .button,
#archive-product .product .button,
.upsells .product .button,
.related .product .button {
  margin: 0 !important;
  text-align: center;
  color: #fff !important;
  background-color: #ff7096 !important;
  border-radius: 8px 8px 12px 12px !important;
}
#home .product .button::before,
#archive-product .product .button::before,
.upsells .product .button::before,
.related .product .button::before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
  font-size: 14px;
}
#home .product .button:hover,
#archive-product .product .button:hover,
.upsells .product .button:hover,
.related .product .button:hover {
  background-color: #ff0a54 !important;
  transition: background-color 0.5s ease;
}
#home .product .button:active,
#archive-product .product .button:active,
.upsells .product .button:active,
.related .product .button:active {
  background-color: #c7003b !important;
}
#home .product .added_to_cart,
#archive-product .product .added_to_cart,
.upsells .product .added_to_cart,
.related .product .added_to_cart {
  display: none !important;
}
#home .product-category,
#archive-product .product-category,
.upsells .product-category,
.related .product-category {
  max-width: 190px;
  color: #ff0a54;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
#home .product-category img,
#archive-product .product-category img,
.upsells .product-category img,
.related .product-category img {
  border-radius: 8px;
  margin: 0 !important;
}
#home .product-category .woocommerce-loop-category__title,
#archive-product .product-category .woocommerce-loop-category__title,
.upsells .product-category .woocommerce-loop-category__title,
.related .product-category .woocommerce-loop-category__title {
  text-align: center;
}
#home .product-category .woocommerce-loop-category__title .count,
#archive-product .product-category .woocommerce-loop-category__title .count,
.upsells .product-category .woocommerce-loop-category__title .count,
.related .product-category .woocommerce-loop-category__title .count {
  display: none;
}

.wpf_hide_text li > input:checked + label > i:after, .wpf_item input[type=checkbox]:checked:before {
  color: #E71765;
}

.wpf_slider.ui-slider .ui-widget-header {
  background: #E71765 !important;
}

.wpf_reset_btn {
  border: 1px solid #E71765;
  color: #E71765;
  text-align: center;
  padding: 0 !important;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 3px;
}

.wpf_reset_btn:hover {
  border: 1px solid #CF145A;
  background-color: #CF145A;
  color: #fff;
  transition: 0.2s ease;
}

.wpf_reset_btn::before,
.wpf_reset_btn::after {
  display: none !important;
}

.wpf_reset_btn input[type=reset] {
  width: 100%;
  cursor: pointer;
  padding: 5px !important;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  padding: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 420px) {
  .woocommerce-page div.product div.images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .woocommerce div.product div.images .flex-control-thumbs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 80px;
    flex: 1 0 80px;
    /* Adjust PX to suit width of thumbnails */
    max-height: 425px;
    /* Adjust Height to Image height on desktop */
    overflow: auto;
  }

  .woocommerce div.product div.images .flex-control-thumbs li {
    width: 100%;
    padding: 0 10px 10px 0;
  }
}
/* VERSION 2 - Horizontal Scrolling Thumbnails */
.woocommerce div.product div.images .flex-control-thumbs li {
  padding: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
}

.woocommerce div.product div.images .flex-control-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.woocommerce-tabs {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce-tabs .tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 14px !important;
  min-height: 350px;
}
.woocommerce-tabs .tabs::before, .woocommerce-tabs .tabs::after {
  content: none !important;
}
@media only screen and (min-width: 800px) {
  .woocommerce-tabs .tabs {
    width: 30%;
  }
}
.woocommerce-tabs .tabs li {
  background-color: #fff !important;
  border: none !important;
}
.woocommerce-tabs .tabs li::before, .woocommerce-tabs .tabs li::after {
  content: none !important;
}
.woocommerce-tabs .tabs li.active {
  color: #ff0a54 !important;
}
.woocommerce-tabs .woocommerce-Tabs-panel {
  padding: 0 15px !important;
}
@media only screen and (min-width: 800px) {
  .woocommerce-tabs .woocommerce-Tabs-panel {
    width: 70%;
  }
}

/*# sourceMappingURL=snoepshop.css.map */
