@charset "UTF-8";
/* utils */
/* Colors */
/* Fonts */
/* Screen width */
/* base */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
}

ul {
  list-style-type: none;
}

button {
  display: block;
  border: none;
  font-family: inherit;
  background: none;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.divider {
  border: 0;
  border-top: 1px solid #edeff1;
  margin: 0;
}

.hidden {
  display: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Lilita One";
  src: url("../../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: "Open sans";
  src: url("../../fonts/OpenSans-VariableFont.ttf");
}
body {
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
  margin: 1em 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.h5 {
  font-size: 18px;
}

h1, h2, h3, h4, .h2 {
  font-family: "Lilita One", Arial, sans-serif;
  font-weight: bold;
}

a:link {
  cursor: pointer;
}
a:focus {
  text-decoration: none;
}

/* layout */
.header {
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #ececec;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-main__logo {
  display: flex;
  width: 150px;
  height: 55px;
  margin: 10px 25px 10px 0;
}
.header .header-main__nav-list {
  display: flex;
}
.header .header-main__nav-list-item:not(:last-child) {
  margin-right: 20px;
}
.header .header-main__link {
  display: flex;
  align-items: center;
}
.header .header-main__link .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.header .header-main__label {
  display: none;
}
@media only screen and (min-width: 480px) {
  .header .header-main__label {
    display: inline-block;
  }
}
.header .header-sub {
  height: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.header .header-sub::-webkit-scrollbar {
  display: none;
}
.header .header-sub .category-list {
  display: flex;
}
.header .header-sub .category-list-item {
  margin-right: 10px;
  padding: 5px 10px;
}
.header .header-sub .category-list-item:first-child {
  padding-left: 0;
}

/* pages */
#home .products {
  display: flex;
}

.my-account {
  margin: 25px auto 0;
  max-width: 1140px;
  padding: 0 15px;
  border: 1px solid red;
}
.my-account .woocommerce-MyAccount-navigation {
  width: 25%;
}
.my-account .woocommerce-MyAccount-navigation .is-active a {
  color: #e71765;
}
.my-account .woocommerce-MyAccount-navigation-link a {
  color: #7a7a7a;
  font-size: 18px;
  text-decoration: none;
}
.my-account .woocommerce-MyAccount-navigation-link a:hover {
  color: #e71765;
}
.my-account .woocommerce-MyAccount-content {
  width: 75%;
}

/* template-parts */
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
  border-radius: 12px;
  background-color: #fff;
}
.product .woocommerce-loop-product__link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 10px 5px;
}
.product .woocommerce-loop-product__title {
  color: #343a40;
}
.product .price {
  margin-top: auto;
}
.product .button {
  margin: 0 !important;
  text-align: center;
  color: #fff !important;
  background-color: #ff477e !important;
  border-radius: 12px !important;
}
.product .button::before {
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
  font-size: 14px;
}

/*# sourceMappingURL=snoepshop.css.map */
