.badge {
  &__onsale {
    background-color: $color-01 !important;
    right: unset !important;
    left: 0 !important;
    top: 0 !important;
    border-radius: 12px 0 12px 0 !important;
    margin: 0 !important;
    min-height: unset !important;
    line-height: unset !important;
    padding: 8px 10px !important;
    font-weight: bold !important;
    color: #fff !important;
    position: absolute;
    font-size: .857em;
  }
}
