.header {
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #ececec;
  height: auto;

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      border: 1px solid red;
      width: 100px;
      height: 55px;
      margin: 10px 25px 10px 0;

      img {
        fill: red !important;
        color: red !important;
      }
    }

    &__nav-list {
      display: flex;
    }

    &__nav-list-item {
      margin-right: 20px;
    }

    &__link {
      display: flex;
      align-items: center;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  .header-sub {
    height: auto;

    .category-list {
      display: flex;

      &-item {
        margin-right: 10px;
        padding: 5px 10px;
      }
    }
  }
}
