.header {
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #ececec;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      width: 150px;
      height: 55px;
      margin: 10px 25px 10px 0;
    }

    &__nav-list {
      display: flex;
    }

    &__nav-list-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e9ecef;
      padding: 10px;
      border-radius: 50%;

      &:hover {
        background-color: #f8f9fa;
      }

      &:active {
        background-color: #dee2e6;
      }

      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  .header-sub {
    height: auto;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .category-list {
      display: flex;

      &-item {
        margin-right: 10px;
        padding: 5px 10px;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
