.header {
    background-color: #fff;
    width: 100vw;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);

    &__container {
        display: flex;
        border: 1px solid green;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        border: 1px solid red;
        width: 100px;
        height: 55px;
        margin: 10px 25px 10px 0;
    }
}