.my-account {
  margin: 25px auto 0;
  max-width: 1140px;
  padding: 0 15px;
  border: 1px solid red;

  // Navigation
  .woocommerce-MyAccount-navigation {
    width: 25%;
    
    .is-active a {
      color: #e71765;
    }

    &-link a {
      color: #7a7a7a;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        color: #e71765;
      }
    }
  }

  .woocommerce-MyAccount-content {
    width: 75%;
  }
}

// .woocommerce-MyAccount-navigation
//   ul
//   li.woocommerce-MyAccount-navigation-link--dashboard
//   a:before {
//   content: "\f4fe";
// }
