.cart {

  .woocommerce {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include respond-to(1000px) {
      flex-direction: row;
    }

    &-notices-wrapper {
      width: 100%;
    }

    // Reset for table borders and background.
    .shop_table,
    .shop_table td {
      border: none;
      background-color: unset !important;
      padding: 0;

      @include respond-to(768px) {
        padding: 9px 0;
      }
    }

    &-cart-form {
      flex: 2;

      @include respond-to(0, 768px) {
        &__cart-item {
          display: grid !important;
          grid-template-columns: 80px auto;
          grid-template-rows: auto;
          column-gap: 15px;
          row-gap: 5px;
          border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
          padding: 10px 0;
        }

        .product {
          &-thumbnail {
            grid-column: 1;
            grid-row: 2 / 5;
            width: 100%;
          }
        }
      }

      @include respond-to(1000px) {
        margin-right: 30px;
      }
    }

    .cart-collaterals {
      flex: 1;

      @include respond-to(769px) {
        margin-left: auto;
        max-width: 400px;
      }

      .cart_totals {
        width: 100%;
        padding: 0 15px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .checkout-button {
        font-size: 16px;
        background-color: $color-02;
      }
    }

    .product {
      &-remove a {
        color: #adb5bd !important;

        &:hover {
          background-color: unset;
        }

        &:active {
          background-color: #e9ecef;
        }
      }
      &-thumbnail {
        img {
          width: 80px;
        }

        // Show product image on mobile
        @include respond-to(0, 768px) {
          display: block !important;

          &::before {
            display: none;
          }
        }
      }
    }

    .actions {
      @include respond-to(0, 768px) {
        margin-top: 20px;
      }

      .input-text {
        min-width: 130px !important;
        min-height: 35px;
        border-radius: 5px;
      }

      .button {
        min-height: 35px;
        background-color: #fff;
        color: $color-02 !important;
        border: 1px solid $color-02;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }
}
