.checkout-page {
  margin-bottom: 100px;

  .checkout {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @include respond-to(769px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr;
      column-gap: 35px;
      row-gap: 10px;
    }

    @include respond-to(900px) {
      grid-template-columns: 1.5fr 1fr;
    }

    .woocommerce-NoticeGroup-checkout {
      grid-row: 1;
      grid-column: 1 / 3;
    }

    .col2-set {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;

      @include respond-to(769px) {
        grid-row: 2 / 4;
      }

      .col-1,
      .col-2 {
        width: 100%;

        @include respond-to(900px) {
          width: 90%;
        }
      }

      .col-1 {
        .create-account label {
          font-family: $font-family-headings;
          font-size: 16px;
          text-transform: uppercase;

          input {
            margin-right: 5px;
          }
        }
      }

      .col-2 {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }

    #order_review_heading {
      grid-column: 1;
      grid-row: 4;

      @include respond-to(769px) {
        grid-row: 2;
        grid-column: 2;
      }
    }

    #order_review {
      grid-column: 1;
      grid-row: 5;

      @include respond-to(769px) {
        grid-column: 2;
        grid-row: 3;
      }

      .product-name {
        display: flex;
        align-items: center;

        &__thumbnail {
          flex-shrink: 0;
          margin-right: 5px;
        }
      }
    }

    .shop_table {
      border: none;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 10px 20px;
    }

    .woocommerce-checkout-payment {
      background-color: transparent !important;
      border-radius: 10px !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      margin-top: 50px;
    }
  }
}
