.single-product {
  .product-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    @include respond-to(800px) {
      flex-direction: row;
      margin-top: 80px;
    }

    // Do not display the default sale flash label above gallery.
    & > .onsale {
      display: none;
    }

    .badge-onsale {
      position: absolute;
      top: 0;
    }

    .woocommerce-product-gallery {
      width: 100%!important;

      @include respond-to(800px) {
        width: 48%!important;
      }
    }

    .summary {
      background-color: #fff;
      box-shadow: 0px 20px 75px 0px rgb(54 32 87 / 21%);
      border-radius: 20px;
      padding: 50px 50px 30px;
      position: relative;
      max-width: 480px;
      margin: 0 auto;

      .price {
        margin-bottom: 20px;
        color: $color-text !important;
        font-size: 20px !important;
        font-weight: bold !important;

        del .woocommerce-Price-amount {
          font-size: 16px !important;
        }

        ins {
          text-decoration: none;
        }
      }

      .cart {
        margin-bottom: 25px!important;
        margin-top: 5px;

        .quantity .input-text {
          height: 35px;
        }

        .single_add_to_cart_button {
          background-color: $color-03;

          &:hover {
            background-color: $color-01 !important;
            transition: background-color 0.5s ease;
          }
    
          &:active {
            background-color: darken($color-02, 25%) !important;
          }
        }
      }

      .usp-list {
        margin-bottom: 20px;

        &-item {
          font-size: 14px;
          display: flex;
          align-items: center;

          .icon__svg {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            fill: $color-02;
          }
        }
      }

      .product_meta {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-style: italic;
        color: $color-09;
        margin-top: 10px;
      }
    }
  }

  .additional-information {
    border-radius: 20px 20px 0 0;
    margin-top: 50px;

    &__heading {
      border-top: 1px solid $color-08;
      border-bottom: 1px solid $color-08;
      text-align: center;
      padding: 20px 15px;
      margin-bottom: 50px;
    }

    .woocommerce-Reviews-title {
      display: none;
    }

    .related {
      border-top: 1px solid $color-08;
      margin-top: 100px;

      h2:first-child {
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }
}
